<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
    <li><a href="/products">Products</a></li>
    <li><a href="/carry">My carry (ticket)</a></li>
    <li><a href="/historial">Tickets Historial</a></li>
</ul>
