<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h3>esto es index</h3>
<ul>
    <li><a href="/product">Products</a></li>
    <li><a href="/carry">My carry (ticket)</a></li>
    <li><a href="/historial">Tickets Historial</a></li>
</ul>